<ul>
    <li>
        <span data-bind="i18n: 'Name'"></span>
        <span data-bind="text: info().name"></span>
    </li>
    <li>
        <span data-bind="i18n: 'Description'"></span>
        <span data-bind="text: info().description"></span>
    </li>
    <li>
        <span data-bind="i18n: 'Temp'"></span>
        <span data-bind="text: info().temp"></span>
    </li>
    <li>
        <span data-bind="i18n: 'Temp max'"></span>
        <span data-bind="text: info().temp_max"></span>
    </li>
    <li>
        <span data-bind="i18n: 'Pressure'"></span>
        <span data-bind="text: info().pressure"></span>
    </li>
    <li>
        <span data-bind="i18n: 'Humidity'"></span>
        <span data-bind="text: info().humidity"></span>
    </li>
    <li>
        <span data-bind="i18n: 'Wind speed'"></span>
        <span data-bind="text: info().wind_speed"></span>
    </li>
</ul>
