<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ComradeYanis\WeatherApi\Api\Data\WeatherInterface"
                type="ComradeYanis\WeatherApi\Model\Weather"/>
    <preference for="ComradeYanis\WeatherApi\Api\WeatherApiInterface"
                type="ComradeYanis\WeatherApi\Model\Api\WeatherApi"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="weather_api_listing_data_source" xsi:type="string">
                    ComradeYanis\WeatherApi\Model\ResourceModel\Weather\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="ComradeYanis\WeatherApi\Model\ResourceModel\Weather\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">comradeyanis_weather</argument>
            <argument name="eventPrefix" xsi:type="string">weather_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">weather_api_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">ComradeYanis\WeatherApi\Model\ResourceModel\Weather</argument>
        </arguments>
    </type>
</config>
